# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml

# iOS
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.xcconfig
ios/.symlinks/

# Android
android/.gradle/
android/app/*.iml

# Others
*.log
*.tmp